<div>

    <!--Filtres de recherche-->
    <div class="form-group blockFiltres">
        <h5 style="margin-top: 5px;"><label>Filtres :</label></h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <select id="produit" required class="form-select form-select-sm"
                            aria-label=".form-select-sm example" name="produit" ngModel="201">
                        <option selected value="201">OM</option>
                        <option value="202">DIB/DEA</option>
                        <option value="203">DASRI</option>
                        <option value="204">DAOM</option>
                        <option value="205">Refus de tri</option>
                    </select>
                </div>
            </div>
            <!--<div class="col-sm-3">
                <div class="form-group">
                    <select id="collecteur" required class="form-select form-select-sm"
                            aria-label=".form-select-sm example" name="collecteur" ngModel="01">
                        <option selected value="01">INOVA</option>
                        <option value="02">VEOLIA</option>
                        <option value="03">PAPREC</option>
                        <option value="04">NICOLLIN</option>
                        <option value="05">BGV</option>
                        <option value="06">SITOMAP</option>
                        <option value="07">SIRTOMRA OM</option>
                        <option value="08">COMMUNES</option>
                        <option value="09">SMICTOM</option>
                        <option value="10">SMETOM</option>
                    </select>
                </div>
            </div>-->
            <div class="col-sm-3">
                <div class="form-group">
                    <button class="btn btn-success" (click)="setFilters()">Valider</button>
                </div>
            </div>
        </div>

        <!--Période-->
        <form #f="ngForm">
            <div class="form-group">
                <h5><label>Période :</label></h5>
                <div class="row">
                    <div class="col-lg-3">
                        <input type="date" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb"
                               ngModel>
                    </div>
                    <div class="col-lg-3">
                        <input type="date" id="dateFin" class="form-control" placeholder="Date de fin" name="dateFin"
                               ngModel>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" (click)="setPeriod(f)"><img src="assets/refresh.png"></button>
                            <button style="margin-left: 0.5em" class="btn btn-warning" (click)="setYesterday(f)">Hier</button>
                            <button style="margin-left: 0.5em" class="btn btn-info" (click)="setCurrentWeek(f)">Semaine en cours</button>
                            <button style="margin-left: 0.5em" class="btn btn-dark" (click)="setCurrentMonth(f)">Mois en cours</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button id="exportExcel" class="btn btn-outline-success btn-lg float-left" (click)="exportExcel()">Excel</button>

    </div>


    <div id="saisie">
        <!--table de saisie CONTAINER DASRI-->
        <div class="table-style">
            <table class="table table-hover tableFixed" *ngIf="listDays && containerDasri">
                <thead>
                <tr class="table-secondary">
                    <th scope="col"><button class="btn btn-success"(click)="validationContainer()">Valider les Containers</button></th>
                    <th *ngFor="let day of listDays" scope="col">{{day}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-light">
                    <td class="fix"><strong>{{containerDasri.Name}}</strong></td>
                    <td *ngFor="let day of listDays">
                        <div class="flex">
                            <input type="text" id="{{containerDasri.Id}}-{{day}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            <button class="btn btn-light" id="delete-{{containerDasri.Id}}-{{day}}" (click)="deleteContainer(containerDasri.Id,day)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--table de saisie-->
        <div class="table-style">
            <table class="table table-hover tableFixed" id="listEntree" *ngIf="listDays && moralEntities">
                <thead>
                <tr class="table-secondary">
                    <th scope="col"><button class="btn btn-success"(click)="validation()">Valider les tonnages</button></th>
                    <th *ngFor="let day of listDays" scope="col">{{day}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-light" *ngFor="let mr of moralEntities">
                    <td class="fix"><strong>{{mr.Name}}</strong></td>
                    <td *ngFor="let day of listDays">
                        <!-- Balise caché avec la valeur pour export Excel car impossible d'exporter valeurs si inputs dans table -->
                        <p style="display: none;" id="export-{{mr.Id}}-{{mr.productId}}-{{day}}"></p>
                        <div class="flex">
                            <input type="text" id="{{mr.Id}}-{{mr.productId}}-{{day}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            <button class="btn btn-light" id="delete-{{mr.Id}}-{{mr.productId}}-{{day}}" (click)="delete(mr.Id,mr.productId,day)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </div>
                    </td>
                </tr>
                <tr class="table-secondary" style="color: #044daa">
                    <td class="fix"><strong>Total</strong></td>
                    <td *ngFor="let day of listDays"><strong><p id="{{day}}"></p></strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>