<div *ngIf="listLien">

    <a (click)="ouvrirDialogCreerLien()" role="button" class="btn btn-primary" id="create">
        Créer un évènement
    </a>
    <div class="table-style">
        <!--table des consignes-->
        <table class="table tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Nom</th>
                <th scope="col">url</th>
                <th scope="col">Actif ?</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody *ngFor="let lien of listLien">
            <tr>
                <td>{{lien.nom}}</td>
                <td>{{lien.url}}</td>
                <td *ngIf="!lien.actif"> 
                    <button class="btn btn btn-light" (click)='activerLien(lien.id, lien.actif)'>
                        <i style="color: red" class="fas fa-times-circle"></i>
                    </button>
                </td>
                <td *ngIf="lien.actif"> 
                    <button class="btn btn btn-light" (click)='activerLien(lien.id, lien.actif)'>
                        <i style="color: green" class="fas fa-check"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn btn-light edition" (click)="ouvrirDialogModifActu(lien.id)">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button (click)="deleteLienExterne(lien.id)" id="deleteLienExterne" class="btn btn-light">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template let-data #myCreateLienDialog>
    <h1 class="creation" style="text-align: center;">Création d'un lien externe :</h1>

    <mat-dialog-content>
        <h3 class="creation">Ce module permet de créer un lien vers un fichier sur un drive qui sera disponible sur l'acceuil du cahier de quart</h3>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">

                <div class="form-group">
                    <label for="desc">Nom : * </label>
                    <input required type="text" id="nom" class="form-control" placeholder="Nom" name="nom" ngModel [(ngModel)]="nom">
                </div>

                <div class="form-group">
                    <label for="desc">Url : * </label>
                    <input required type="text" id="url" class="form-control" placeholder="Url" name="url" ngModel [(ngModel)]="url">
                </div>

                <p style="font-size: smaller; color: grey">* : Obligatoire</p>

                <div class="form-group">
                    <button class="btn btn-success btn-lg" (click)="newLienExterne()">Valider</button>
                    <button [mat-dialog-close]="true" class="btn btn-danger btn-lg">Annuler</button>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>