.color--0{
    background-color: lightgreen;
}

.color--1{
    background-color: lightsalmon;
}

.color--2{
    background-color: lightcoral;
}

#create{
    position: relative;
    left: 45%;
    margin-bottom: 10px;
}

#libelleQuart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
    color: white;
    border: solid 1px orange;
    border-radius: 3px;
}