<div *ngIf="listEvenement">

    <a routerLink="../newEvenement" role="button" class="btn btn-primary" id="create">
        Créer un évènement
    </a>
    <div class="table-style">
        <!--table des consignes-->
        <table class="table tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Cause</th>
                <th scope="col">Groupement GMAO</th>
                <th scope="col">Equipement GMAO</th>
                <th scope="col">Date de Début de validité</th>
                <th scope="col">Date de Fin de validité</th>
                <th scope="col">Demande de travaux</th>
                <th scope="col">Création de consigne</th>
                <th scope="col">Photo</th>
                <th scope="col">Dupliquer</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody *ngFor="let evenement of listEvenement">
            <tr class="color--{{evenement.importance}} line" >
                <td>{{evenement.titre}}</td>
                <td>{{evenement.description}}</td>
                <td>{{evenement.cause}}</td>
                <td>{{evenement.groupementGMAO}}</td>
                <td>{{evenement.equipementGMAO}}</td>
                <td>{{evenement.date_heure_debut}}</td>
                <td>{{evenement.date_heure_fin}}</td>
                <td *ngIf="evenement.demande_travaux == 1">Travaux pré-demandés</td>
                <td *ngIf="evenement.demande_travaux == 0">Aucun</td>
                <td *ngIf="evenement.demande_travaux == 2">Travaux demandés</td>
                <td *ngIf="evenement.consigne == 1">Crée</td>
                <td *ngIf="evenement.consigne == 0">Aucune</td>
                <td><img src="{{evenement.url}}" alt=""></td>
                <td>
                    <a  routerLink="/cahierQuart/newEvenement" [queryParams]="{idEvenement: evenement.id, dupliquer : 1}" > 
                        <button class="btn btn btn-light edition">
                            <i class="far fa-copy"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <a  routerLink="/cahierQuart/newEvenement" [queryParams]="{idEvenement: evenement.id}" > 
                        <button class="btn btn btn-light edition">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <button (click)="deleteEvenement(evenement.id)" id="deleteEvenement" class="btn btn-light">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>