<!-- Création d'une action / ronde pour le calendrier -->

<button class="btn btn-success" id="create" (click)="addEvent()">
  + 
</button>
<button class="btn btn-danger" id="hideCreation" (click)="hideCreation()" style="display: none;">
  -
</button>
<div id="divCreation" style="display: none;">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="ronde" id="ronde" value="zone" [(ngModel)]="radioSelect" (click)="showCreationRonde()">
    <label class="form-check-label" for="ronde">
      Zones à contrôler
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="ronde" id="action" value="action" [(ngModel)]="radioSelect" (click)="showCreationAction()">
    <label class="form-check-label" for="action">
      Actions
    </label>
  </div>
</div>

<div id="CreationRondeAction"  style="display: none;">
  <div class="form-group" id="CreationRonde" style="display: none;">
    <label>Choisissez vos zones</label>
    <select multiple class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="listZoneSelection">
      <option *ngFor="let z of listZone" value="{{z.Id}}">{{z.nom}}</option>
    </select>
  </div>
  <div class="form-group" id="CreationAction" style="display: none;">
    <label>Liste des actions :</label>
    <input type="text" id="actions" class="form-control" placeholder="Liste des actions" name="nomAction" [(ngModel)]="nomAction"/>
  </div>

  <div class="form-group">
    <label>Date :</label>
    <input type="date" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb" [(ngModel)]="dateDeb"/>
  </div>

  <div class="form-group">
    <label>Périodicité :</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="periodicite">
      <option value="0">Aucune</option>
      <option value="1">Quotidien</option>
      <option value="2">Hebdo</option>
      <option value="3">Mensuel</option>
    </select>
  </div>
    
  <div class="form-group">
    <label>Quart :</label>
    <select multiple class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="quart">
      <option value="1">Matin</option>
      <option value="2">Après-midi</option>
      <option value="3">Nuit</option>
    </select>
  </div>

  <div class="form-group">
    <p *ngIf="periodicite != 0">Fin après <input type="number" name="occurences" id="occurences" value="10" [(ngModel)]="occurences"> occurences</p>
  </div>

  <button class="btn btn-success" id="valider" (click)="createEvenementCalendrier()">
    Valider
  </button>
</div>




<!-- Calendrier -->
<br /><br /><br />


<div id="actualiser_calendrier">
  <div
    class="btn btn-primary"
    mwlCalendarToday
    [(viewDate)]="viewDate"
    >
      Actualiser
  </div>
</div>

      
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Précédent
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Aujourd'hui
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Prochain
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Mois
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Semaine
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Jour
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    locale="fr"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="weekStartsOn"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    locale="fr"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="weekStartsOn"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    locale="fr"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>


<!-- Module qu'on affiche lors du cliqck sur un évènement -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Evènement : <strong>{{ modalData?.nom }}</strong></h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Du <strong>{{modalData?.dateDeb}}</strong> au <strong> {{modalData?.dateFin}} </strong>
    </div>
  </div>
  <div class="modal-footer">
    
    <button type="button" class="btn btn-outline-secondary" (click)="deleteEvenement(modalData?.event?.id)">
      Supprimer l'évènement
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>


