.blockFiltres {
  position: fixed;
  top: 9%;
  right: 0;
  left: 0.5em;
  margin: 0 auto;
  z-index: -1;
}

.table-style {
  margin-top: 21%;
}

//Permet de changer le style du label en cochant l'input
.form-check-input:checked + .form-check-label {
  background-color: #134592;
  color: white;
}
