<div *ngIf="listElements">

    <div class="form-group blockFiltres">

        <h5><label>Zone de contrôle :</label></h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="zone" (change)="setFilters()">
                        <option *ngFor="let z of listZone" value="{{z.Id}}">{{z.nom}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button class="btn btn-success" (click)="setFilters()">Valider</button>
                </div>
            </div>
        </div>

    </div>

    <div class="table-style">
        <!--table des élements de contrôle-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Nom</th>
                <th scope="col">Ordre dans la zone</th>
                <th scope="col">Type de champ</th>
                <th scope="col">Valeurs Bornes</th>
                <th scope="col">Valeur par défaut</th>
                <th scope="col">Valeurs Possibles</th>
                <th scope="col">Unité</th>
                <th scope="col">Code GMAO</th>
                <!--<th scope="col">Code Equipement</th>-->
                <th scope="col">Pastille Info</th>
                <th style="text-align: center" scope="col">Est un régulateur ?</th>
                <th style="text-align: center" scope="col">Est un compteur ?</th>
                <th scope="col">Edition</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody *ngFor="let e of listElements; let i = index">
            <tr *ngIf="e.idGroupement !=0 && getPreviousItem(i) != e.idGroupement" class="table-secondary">
                <th *ngIf="e.groupement == null" colspan="13">Aucun Groupement</th>
                <th *ngIf="e.groupement != null" scope="col" colspan="13">{{e.groupement}}</th>
            </tr>
            <tr class="table-light" [ngSwitch]="e.typeChamp">
                <td>{{e.nom}}</td>
                <td><span class="badge rounded-pill bg-secondary">{{e.ordre}}</span></td>
                <td *ngSwitchCase=1><span class="badge bg-primary">Curseur</span></td>
                <td *ngSwitchCase=2><span class="badge bg-success">Saisie Libre</span></td>
                <td *ngSwitchCase=3><span class="badge bg-danger">Case à cocher</span></td>
                <td *ngSwitchCase=4><span class="badge bg-warning text-dark">Menu de Sélection</span></td>
                <td><span class="badge bg-success">{{e.valeurMin}}</span> - <span class="badge bg-success">{{e.valeurMax}}</span></td>
                <td><span class="badge bg-success">{{e.defaultValue}}</span></td>
                <td><span *ngFor="let value of e.listValues.split(' ')" class="badge bg-warning text-dark">{{value}}</span><br></td>
                <td><span class="badge bg-dark">{{e.unit}}</span></td>
                <td style="color: blue;">/</td>
                <!--<td>{{e.CodeEquipement}}</td>-->
                <td><span class="badge rounded-pill bg-info text-dark">{{e.infoSup}}</span></td>
                <td style="text-align: center" *ngIf="e.isRegulateur"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="!e.isRegulateur"><i style="color: red" class="fa fa-times" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="e.isCompteur"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="!e.isCompteur"><i style="color: red" class="fa fa-times" aria-hidden="true"></i></td>
                <td><a target="_blank" routerLink="/admin/newElement" [queryParams]="{element: e.Id}" >
                    <button id="edition" class="btn btn btn-light">
                        <i class="far fa-edit"></i>
                    </button>
                </a></td>
                <td><button (click)="deleteElement(e.Id)" id="deleteMode" class="btn btn-light">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
