<div>

    <!--Filtres de recherche-->
    <div class="form-group">
        <h5><label>Identifiant :</label></h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" id="login" class="form-control" placeholder="Identifiant" name="login" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                        <button class="btn btn-success" (click)="setFilters()">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--table des users-->
    <table class="table table-hover tableFixed">
        <thead>
        <tr class="table-secondary">
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Identifiant</th>
            <th scope="col">Mot de Passe</th>
            <th scope="col">Rondier</th>
            <th scope="col">Saisie</th>
            <th scope="col">QSE</th>
            <th scope="col">Rapports</th>
            <th scope="col">Chef de quart</th>
            <th scope="col">Admin</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of listUsers">
        <tr class="table-light">
            <td>{{user.Nom}}</td>
            <td>{{user.Prenom}}</td>
            <td><span style="font-size: 15px;" class="badge bg-success">{{user.login}}</span></td>
            <td><button id="setPrice" (click)="resetPwd(user.login)" class="btn btn-primary">
                Reset mot de passe
            </button></td>
            <td *ngIf="user.isRondier == false"><button (click)="changeDroit(user.login,1,'UserRondier')" id="setRondier" class="btn btn-outline-danger">
                <i style="color: red" class="fas fa-times-circle"></i>
            </button></td>
            <td *ngIf="user.isRondier == true"><button (click)="changeDroit(user.login,0,'UserRondier')" id="setNotRondier" class="btn btn-outline-success">
                <i style="color: green" class="fas fa-check"></i>
            </button></td>
            <td *ngIf="user.isSaisie == false"><button (click)="changeDroit(user.login,1,'UserSaisie')" id="setSaisie" class="btn btn-outline-danger">
                <i style="color: red" class="fas fa-times-circle"></i>
            </button></td>
            <td *ngIf="user.isSaisie == true"><button (click)="changeDroit(user.login,0,'UserSaisie')"id="setNotSaisie" class="btn btn-outline-success">
                <i style="color: green" class="fas fa-check"></i>
            </button></td>
            <td *ngIf="user.isQSE == false"><button (click)="changeDroit(user.login,1,'UserQSE')" id="setQSE" class="btn btn-outline-danger">
                <i style="color: red" class="fas fa-times-circle"></i>
            </button></td>
            <td *ngIf="user.isQSE == true"><button (click)="changeDroit(user.login,0,'UserQSE')" id="setNotQSE" class="btn btn-outline-success">
                <i style="color: green" class="fas fa-check"></i>
            </button></td>
            <td *ngIf="user.isRapport == false"><button (click)="changeDroit(user.login,1,'UserRapport')" id="setRapport" class="btn btn-outline-danger">
                <i style="color: red" class="fas fa-times-circle"></i>
            </button></td>
            <td *ngIf="user.isRapport == true"><button (click)="changeDroit(user.login,0,'UserRapport')" id="setNotRapport" class="btn btn-outline-success">
                <i style="color: green" class="fas fa-check"></i>
            </button></td>
            <td *ngIf="user.isChefQuart == false"><button (click)="changeDroit(user.login,1,'UserChefQuart')" id="setChefQuart" class="btn btn-outline-danger">
                <i style="color: red" class="fas fa-times-circle"></i>
            </button></td>
            <td *ngIf="user.isChefQuart == true"><button (click)="changeDroit(user.login,0,'UserChefQuart')" id="setNotChefQuart" class="btn btn-outline-success">
                <i style="color: green" class="fas fa-check"></i>
            </button></td>
            <td *ngIf="user.isAdmin == false"><button (click)="changeDroit(user.login,1,'UserAdmin')" id="setAdmin" class="btn btn-outline-danger">
                <i style="color: red" class="fas fa-times-circle"></i>
            </button></td>
            <td *ngIf="user.isAdmin == true"><button (click)="changeDroit(user.login,0,'UserAdmin')" id="setNotAdmin" class="btn btn-outline-success">
                <i style="color: green" class="fas fa-check"></i>
            </button></td>
            <td><button (click)="deleteUser(user.Id)" id="deleteUser" class="btn btn-light">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button></td>
        </tr>
        </tbody>
    </table>

</div>