<div *ngIf="listConsignes">

    <a routerLink="../newConsigne" role="button" class="btn btn-primary" id="create">
        Créer une consigne
    </a>
    <div class="table-style">
        <!--table des consignes-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Consigne</th>
                <th scope="col">Date de Début de validité</th>
                <th scope="col">Date de Fin de validité</th>
                <th scope="col">Type</th>
                <th scope="col">Edition</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody *ngFor="let consigne of listConsignes">
            <tr class="table-light" [ngSwitch]="consigne.type">
                <td>{{consigne.commentaire}}</td>
                <td>{{consigne.dateHeureDebut}}</td>
                <td>{{consigne.dateHeureFin}}</td>
                <td *ngSwitchCase=1 style="color: blue">Jour</td>
                <td *ngSwitchCase=2 style="color: orange">Sécurité</td>
                <td *ngSwitchCase=3 style="color: blue">Process</td>
                <td *ngSwitchCase=4 style="color: black">Autres</td>
                <td *ngSwitchCase=5 style="color: black">Suite à un évènement</td>
                <td>
                    <a  routerLink="/cahierQuart/newConsigne" [queryParams]="{idConsigne: consigne.id}" > 
                        <button class="btn btn btn-light edition">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <button (click)="deleteConsigne(consigne.id)" id="deleteConsigne" class="btn btn-light">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>