/* You can add global styles to this file, and also import other style files */
body{
  background: url("assets/factory-draw.svg") fixed no-repeat bottom right, url("assets/inova-logo.svg") fixed no-repeat bottom left 0.5em;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

tbody td:first-child {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

.table-hover>tbody>tr>td {
}
