/* You can add global styles to this file, and also import other style files */
body{
  background: url("assets/factory-draw.svg") fixed no-repeat bottom right, url("assets/inova-logo.svg") fixed no-repeat bottom left 0.5em;
}

.tableFixed > thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

.tableFixed > tbody td:first-child {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}

.tableFixed > thead th:first-child {
  left: 0;
  z-index: 1;
}

a {
  font-size: large;
}

.rapportsList {
  display: flex;
  margin: 0 auto;
  width: max-content;
}

.card {
  display: flex;
  margin-top: 2em;
  width: 18rem;
}

a, a:hover, a:visited{
  text-decoration: none;
}

.card:hover{
  background-color: lightgray;
}

.loading{
  display: flex;
  align-content: center;
  align-items: center;
  width: max-content;
  margin: auto;
}
