/* You can add global styles to this file, and also import other style files */
body{
  background: url("assets/Usine2_40.png") fixed no-repeat bottom right, url("assets/INOVA.png") fixed no-repeat bottom left 0.5em;
}

.tableFixed > thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

.tableFixed > tbody td:first-child {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}

.tableFixed > thead th:first-child {
  left: 0;
  z-index: 1;
}

a {
  font-size: large;
}

.rapportsList {
  display: flex;
  margin: 0 auto;
  width: max-content;
}

.card {
  display: flex;
  margin-top: 2em;
  width: 18rem;
}

a, a:hover, a:visited{
  text-decoration: none;
}

.card:hover{
  background-color: lightgray;
}

.loading{
  display: flex;
  align-content: center;
  align-items: center;
  width: max-content;
  margin: auto;
}

.flex {
  display: inline-flex;
  width: 12em;
}

#warning {
  background-color: red;
  border: red solid 1px;
  border-radius: 10px 10px 10px 10px;
  width: max-content;
  height: max-content;
  font-weight: bold;
}

#arrets{
  display: flex;
}

#arretsFiltres{
  width: 90em;
}

.blocCards{
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  /*margin-top: 17.5em;*/
  /*position: relative;*/
  height: 85vh;
}

.card{
  box-shadow: 7px 7px 6px lightgray;
  border-radius: 10px 10px 10px 10px;
}

.card:hover{
  cursor: pointer;
}

.card-title{
  margin-top: 1em;
  border-bottom: solid white 2px;
  padding-bottom: 1em;
  text-shadow: 2px 2px 3px black;
}

.btnAccueil{
  width: 12em;
  height: 3em;
}

.btnAccueil:disabled{
  pointer-events: all !important;
  cursor: not-allowed;
}

.card-textAccueil{
  height: 6em;
}

.cardAccueil{
  width: 17rem;
  height: 22rem;
  cursor: default !important;
}

.btnRetour{
  margin-left: 1em;
  margin-top: 1em;
}

.blockLogin{
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.form-control{
  /*width: 20em;*/
  /*height: 3em;*/
  background-color: lightgray;
}

.connexion{
  margin-left: 7em;
  margin-top: 2em;
}

.Bienvenue{
  color: #134592;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.input-group-prepend{
  border-radius: 0px 5px 5px 0px !important;
  overflow: hidden;
  height: 2.37em;
}



.eyeLogin:hover{
  cursor: pointer;
}


.creation{
  margin-top: 1em;
  margin-bottom: 1em;
  color: #134592;
  font-weight: bold;
}

.notUsed{
  border : solid green 1px
}

.used{
  border : solid red 1px
}

.gestionUser{
  display: flex;
  font-weight: bold;
  color: #134592;
  justify-content: right;
  height: 5vh;
  align-items: center;
}

.clickable:hover{
  cursor: pointer;
}