<a routerLink="../newEquipe" [queryParams]="{quart: quart, idEquipe: idEquipe}" role="button" class="btn btn-primary" id="create">
    Prise de quart
</a>

<!-- Tableau des consignes -->
<div class="consignes" *ngIf="consignes.length > 0">
    <table class="table table-bordered table-secondary">
      <thead>
        <tr>
          <th scope="col">Consigne</th>
          <th scope="col">Date de Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consigne of consignes">
          <th scope="row">{{consigne.commentaire}}</th>
          <td>{{consigne.dateHeureFin}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="row">

    <!-- Tableau des zones -->
    <div class="col-md-3">
        <h2 style="text-align: center;">Zones à contrôler
            <button class="btn btn-success" id="createZone" (click)="newZone()">
                + 
            </button>
            <button class="btn btn-danger" id="hideZone" (click)="hideZone()" style="display: none;">
                -
            </button>
            
        </h2>
        <div id="divCreationZone"  style="display: none;">
            <div class="form-group" id="CreationRonde">
                <label>Choisissez vos zones</label>
                <select multiple class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="listZoneSelection">
                  <option *ngFor="let z of listZoneOfUsine" value="{{z.Id}}">{{z.nom}}</option>
                </select>
            </div>

            <button class="btn btn-success" id="valider" (click)="createZone();" >
                Valider
            </button>
        </div>
        <!--table des consignes-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let zone of listZone">
            <tr class="table-light" >
                <td>{{zone.zone}}</td>
                <td>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteAction(zone.id)">
                        <i class="fas fa-trash"></i>
                      </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Tableau des actions -->
    <div class="col-md-3">
        <h2 style="text-align: center;">Actions
            <button class="btn btn-success" id="createAction" (click)="newAction()">
                + 
            </button>
            <button class="btn btn-danger" id="hideAction" (click)="hideAction()" style="display: none;">
                -
            </button>
        </h2>
        <div id="divCreationAction"  style="display: none;">
            <div class="form-group" id="CreationRonde">
                <label for="desc">Nom : * </label>
                <input required type="text" id="nom" class="form-control" placeholder="Nom" name="nomAction" ngModel [(ngModel)]="nomAction">
            </div>

            <button class="btn btn-success" id="valider" (click)="createAction();" >
                Valider
            </button>
        </div>
        <!--table des consignes-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Nom</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody *ngFor="let action of listAction">
            <tr class="table-light" >
                <td>{{action.nom}}</td>
                <td>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteAction(action.id)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Tableau des Evènements -->
    <div class="col-md-6">
        <h2 style="text-align: center;">
            Evènements
            <a routerLink="/cahierQuart/newEvenement">
                <button class="btn btn-success">
                    + 
                </button>
            </a>
        </h2>
        
        <div class="table-style">
            <!--table des consignes-->
            <table class="table tableFixed">
                <thead>
                <tr class="table-secondary">
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cause</th>
                    <th scope="col">Date de Début </th>
                    <th scope="col">Date de Fin</th>
                    <th scope="col">Demande de travaux</th>
                    <th scope="col">Photo</th>
                </tr>
                </thead>
                <tbody *ngFor="let evenement of listEvenement">
                <tr class=" line color--{{evenement.importance}}">
                    <td>{{evenement.titre}}</td>
                    <td>{{evenement.description}}</td>
                    <td>{{evenement.cause}}</td>
                    <td>{{evenement.date_heure_debut}}</td>
                    <td>{{evenement.date_heure_fin}}</td>
                    <td *ngIf="evenement.demande_travaux == 1">Travaux pré-demandés</td>
                    <td *ngIf="evenement.demande_travaux == 0">Aucune</td>
                    <td *ngIf="evenement.demande_travaux == 2">Travaux demandés</td>
                    <td>
                        <a routerLink="../../{{evenement.url}}">
                            <button class="btn btn-success">
                                <i class="fas fa-image"></i> 
                            </button>
                        </a>
                    </td>
                    
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>