#create{
    position: relative;
    left: 45%;
    margin-bottom: 10px;
}

#libelleQuart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #134592;
    color: white;
    border: solid 1px #134592;
    border-radius: 3px;
    flex-direction: column;
}

.color--0{
    background-color: lightgreen;
}

.color--1{
    background-color: lightsalmon;
}

.color--2{
    background-color: lightcoral;
}

.card {
    overflow: hidden;
    transition: transform 0.3s;
    height: max-content;
    cursor: help;
}

.cardActu {
    width: 45%;
}

.cardElem {
    padding: 10px !important;
    width: 100%;
}

.card-body{
    padding: 1px !important;
}

.card-title{
    text-shadow: none;
}