<div class="blocReporting">
    <div>
        <!--date-->
        <form #f="ngForm">
            <div class="form-group">
                <h5><label>Jour :</label></h5>
                <div class="row">
                    <div class="col-lg-3">
                        <input type="date" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb" ngModel>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" (click)="setPeriod(f)"><img src="assets/refresh.png"></button>
                            <button style="margin-left: 0.5em" class="btn btn-warning" (click)="setYesterday(f)">Hier</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--table des rondes-->
    <div *ngIf="listRonde.length > 0" class="table-style">
        <table class="table table-hover tableFixed table-bordered">
            <thead>
            <tr class="table-secondary">
                <th scope="col"><p>Element de contrôle</p></th>
                <th *ngFor="let ronde of listRonde" style="text-align: center" scope="col">
                    <div>
                        <p *ngIf="ronde.quart == 1">Matin
                            <button [disabled]="!isAdmin" class="btn btn-outline-danger btn-sm" (click)="deleteRonde(ronde.Id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </p>
                        <p *ngIf="ronde.quart == 2">Après-Midi
                            <button [disabled]="!isAdmin" class="btn btn-outline-danger btn-sm" (click)="deleteRonde(ronde.Id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </p>
                        <p *ngIf="ronde.quart == 3">Nuit
                            <button [disabled]="!isAdmin" class="btn btn-outline-danger btn-sm" (click)="deleteRonde(ronde.Id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </p>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-info">
                <td>Terminé ?</td>
                <td *ngFor="let ronde of listRonde" style="text-align: center">
                    <i *ngIf="ronde.isFinished" style="color: green" class="fa fa-check" aria-hidden="true"></i>
                    <button *ngIf="!ronde.isFinished" id="closeRonde" (click)="clotureRonde(ronde.Id)" class="btn btn btn-outline-danger">
                        <i style="color: red" class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            <tr class="table-info">
                <td>Auteur de la ronde</td>
                <td *ngFor="let ronde of listRonde" style="text-align: center">
                    <p aria-hidden="true">{{ronde.Nom}} {{ronde.Prenom}}</p>
                </td>
            </tr>
            <tr class="table-info">
                <td>CHEF DE QUART</td>
                <td *ngFor="let ronde of listRonde" style="text-align: center">
                    <p aria-hidden="true">{{ronde.nomChef}} {{ronde.prenomChef}}</p>
                </td>
            </tr>
            <tr class="table-info">
                <td>Four 1 en Fonctionnement ?</td>
                <td *ngFor="let ronde of listRonde" style="text-align: center">
                    <i *ngIf="ronde.fonctFour1" style="color: green" class="fa fa-check" aria-hidden="true"></i>
                    <i *ngIf="!ronde.fonctFour1" style="color: red" class="fa fa-times" aria-hidden="true"></i>
                </td>
            </tr>
            <tr class="table-info">
                <td>Four 2 en Fonctionnement ?</td>
                <td *ngFor="let ronde of listRonde" style="text-align: center">
                    <i *ngIf="ronde.fonctFour2" style="color: green" class="fa fa-check" aria-hidden="true"></i>
                    <i *ngIf="!ronde.fonctFour2" style="color: red" class="fa fa-times" aria-hidden="true"></i>
                </td>
            </tr>
            <tr class="table-info">
                <td>Permis de feu</td>
                <td *ngFor="let ronde of listRonde" style="text-align: center">
                    <div *ngFor="let pf of listPermisFeuValidation">
                        <p *ngIf="ronde.Id == pf.rondeId" aria-hidden="true">Permis {{pf.numero}} dans la zone {{pf.zone}} validé à {{pf.dateHeure}}</p>
                    </div>
                </td>
            </tr>
            </tbody>
            <!--Affichage des zones et de leurs éléments-->
            <tbody *ngFor="let elementsOfOneZone of listElementsOfZone">
                <tr class="table-light">
                    <td style="color: blue; text-align: center"><strong>{{elementsOfOneZone.zone}}</strong></td>
                    <td *ngFor="let ronde of listRonde" style="text-align: center">
                        <div *ngFor="let anomalie of listAnomalie">
                            <p style="color: red" *ngIf="anomalie.zoneId == elementsOfOneZone.zoneId && anomalie.rondeId == ronde.Id">
                                <strong>- {{anomalie.commentaire}}  </strong>
                                <button class="btn btn-outline-secondary" (click)="downloadImage(anomalie)">
                                    <i style="color:black;" class="fa fa-camera" aria-hidden="true"></i>
                                </button>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr class="table-warning" *ngFor="let element of elementsOfOneZone.elements">
                    <td>{{element.nom}}</td>
                    <td *ngFor="let ronde of listRonde" style="text-align: center">
                        <div style="display: flex; flex-direction: column;" *ngFor="let reporting of listReporting">
                            <p *ngIf="reporting.nomZone == elementsOfOneZone.zone && reporting.rondeId == ronde.Id && reporting.elementId == element.Id && reporting.value != '/'">
                                {{reporting.value}} {{element.unit}}
                                <button class="btn btn-warning btn-sm" (click)="updateValueElement(reporting)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </p>
                            <p style="color: #22498c" *ngIf="reporting.nomZone == elementsOfOneZone.zone && reporting.rondeId == ronde.Id && reporting.elementId == element.Id && reporting.modeRegulateur != 'undefined'">Mode Régulateur : {{reporting.modeRegulateur}}</p>
                            <div style="display: inline-flex; justify-content: center; align-items: center;" *ngIf="reporting.nomZone == elementsOfOneZone.zone && reporting.rondeId == ronde.Id && reporting.elementId == element.Id && reporting.value == '/'">
                                <p style="background-color: red">NON SAISIE</p>
                                <button class="btn btn-warning btn-sm" (click)="updateValueElement(reporting)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--table des rondes
    <div class="table-style">
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Date et Heure de Début</th>
                <th scope="col">Quart</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Image</th>
                <th style="text-align: center" scope="col">Terminé ?</th>
                <th scope="col">Auteur de la ronde</th>
                <th scope="col">Four 1 en Fonctionnement ?</th>
                <th scope="col">Four 2 en Fonctionnement ?</th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let r of listRonde">
            <tr class="table-light" [ngSwitch]="r.quart" (click)="getReporting(r.Id)">
                <td>{{r.dateHeure}}</td>
                <td *ngSwitchCase=1>Matin</td>
                <td *ngSwitchCase=2>Après-midi</td>
                <td *ngSwitchCase=3>Nuit</td>
                <td>{{r.commentaire}}</td>
                <td (click)="downloadImage(r)">{{r.image}}</td>
                <td style="text-align: center" *ngIf="r.isFinished"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="!r.isFinished">
                    <button id="closeRonde" (click)="clotureRonde(r.Id)" class="btn btn btn-outline-danger">
                        <i style="color: red" class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </td>
                <td>{{r.Prenom}} {{r.Nom}}</td>
                <td style="text-align: center" *ngIf="r.fonctFour1 === 1"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="r.fonctFour1 === 0"><i style="color: red" class="fa fa-times" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="r.fonctFour2 === 1"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="r.fonctFour2 === 0"><i style="color: red" class="fa fa-times" aria-hidden="true"></i></td>
                <td>
                    <button class="btn btn-light" (click)="deleteRonde(r.Id)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>-->

</div>


    <!--table du reporting de la ronde
<div *ngIf="listReporting.length > 0">
    <div class="table-style">
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Zone de contrôle</th>
                <th scope="col">Element de contrôle</th>
                <th scope="col">Valeur</th>
                <th scope="col">Mode Régulateur</th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let r of listReporting">
            <tr class="table-light" [ngStyle]="{'color': (r.value=='') ? 'red' : 'green'}">
                <td style="color: #044daa"><strong>{{r.nomZone}}</strong></td>
                <td><strong>{{r.nom}}</strong></td>
                <td>{{r.value}}</td>
                <td>{{ r.modeRegulateur == 'undefined' ? '/' : r.modeRegulateur }}</td>
                <td>
                    <button class="btn btn-light" (click)="updateValueElement(r)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>-->