.my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}

.blocReporting{
  padding-left: 0.2em;
  padding-top: 1em;
}

#usine{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hide{
  display: none;
}