<div *ngIf="isSuperAdmin" id="usine">
  {{ usine }}
</div>
<button routerLink="" class="btn btn-outline-primary btn-lg btnRetour">
  <i class="fa fa-home"></i> Accueil
</button>

<h2 class="center centerTop">Entrées/Sorties :</h2>

<div class="rapportsList">
  <a
    *ngFor="let rapport of listRapports"
    target="_self"
    (click)="download(rapport.url)"
  >
    <div
      *ngIf="rapport.nom.includes('Entrées') || rapport.nom.includes('Sorties')"
      class="card"
    >
      <img src="assets/excel.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">{{ rapport.nom }}</p>
      </div>
    </div>
  </a>
</div>

<h2 class="center">Facturation :</h2>

<div class="rapportsList">
  <a
    *ngFor="let rapport of listRapports"
    target="_self"
    (click)="download(rapport.url)"
  >
    <div *ngIf="rapport.nom.includes('Facturation')" class="card">
      <img src="assets/excel.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">{{ rapport.nom }}</p>
      </div>
    </div>
  </a>
</div>

<h2 class="center">Tableau de Bord :</h2>

<div class="rapportsList">
  <a
    *ngFor="let rapport of listRapports"
    target="_self"
    (click)="download(rapport.url)"
  >
    <div
      *ngIf="
        rapport.nom.includes('Tableau de Bord') ||
        (rapport.nom.includes('Annuel') &&
          !rapport.nom.includes('personnalisable')) ||
        rapport.nom.includes('Journalier') ||
        rapport.nom.includes('Arrêts')
      "
      class="card"
    >
      <img src="assets/excel.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">{{ rapport.nom }}</p>
      </div>
    </div>
  </a>
</div>

<!--<h2 class="center">Annuel :</h2>

<div class="rapportsList">
    <a *ngFor="let rapport of listRapports" target="_self" (click)="download(rapport.url)">
        <div *ngIf="rapport.nom.includes('Annuel')" class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{rapport.nom}}</p>
            </div>
        </div>
    </a>
</div>-->

<h2 class="center">Divers :</h2>

<div class="rapportsList">
  <a
    *ngFor="let rapport of listRapports"
    target="_self"
    (click)="download(rapport.url)"
  >
    <div
      *ngIf="
        !rapport.nom.includes('Entrées') &&
        !rapport.nom.includes('Sorties') &&
        !rapport.nom.includes('Facturation') &&
        !rapport.nom.includes('Tableau de Bord') &&
        (!rapport.nom.includes('Annuel') ||
          rapport.nom.includes('personnalisable')) &&
        !rapport.nom.includes('Journalier') &&
        !rapport.nom.includes('Arrêts')
      "
      class="card"
    >
      <img src="assets/excel.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">{{ rapport.nom }}</p>
      </div>
    </div>
  </a>
</div>
