<button routerLink="" class="btn btn-outline-primary btn-lg btnRetour"><i class="fa fa-home"></i> Accueil</button>

<h3 class="center">Suivi quotidien :</h3>
<div class="rapportsList">

    <a  target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJvRfOua0B6KXBHBDWAmCWYuI95LU8/qRvasBgmPfTXLrk4YCut31KmN9uGtK2J-4rkgDzmgmgk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Facturation OM/DIB</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJvQFPGCDkL3JOv6QB9ezXFKUQADMJ/MiIK-mnCuN_iFnEnYInRLf3Aoo0WK_rM-67hA8avFhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Facturation DASRI</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJvR6CeQlmzTy2J0DI7SsNkNv1pMP8/QFNxSTv1WeTJ336vvPTIRQvpo92HLBlq-6bogJRv8lAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Facturation Machefers</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/ofOK4XT8R3QzHIT6U4atjpVxVMaBPw8G/jkzknGdjQ7nYlejjp5GngcbuxfZpTOKN-cbzgPhfHhAk')">
        <!--    <a target="_self" (click)="download('http://192.168.172.15/rapports/Synthese_Details_.xlsx')">-->
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Rapport Annuel</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJqnhLRw6ITGAQq6a1faRxcnjXY0rK/If3l4pG7NTVP2lu-9CexPDLTM2s7O9-4-G7kgBsXFhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Tableau de Bord</p>
            </div>
        </div>
    </a>
</div>

<div class="rapportsList">

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJt7KNGe3lepPbUfOgrqkq2Ytpv1Pu/QuCuitWn7BU9uq-oyxWWtSk-p8Ab2tJu-NblADNHFhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Entrées/Sorties Mois et Année</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/ofO0XOUIWdTkok5nruQ8Z9mhw2lOiqMp/OyjmxWHRcJM8cL0pELmkskNSiAiavGHG-wLlgPBfGhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Entrées/Sorties DASRI</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJt82N5qMPii9mgyLAKGHpqKZi1CaN/MY8QgXQUfp7J9aWDL-TMzYF6wDnLG6hz-37nAcyTGhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Contrôle des coûts GER/EXP</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJm4u6mIp5gfbSF0n0IZTLDH4ZVMEK/07dvM4yzA2PDHVfro7Am1mPeSoIpGfLB-8rlAXC3GhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Récapitulatif des Arrêts</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oMQJoOfwA0foahLSs2CwcpSNlqixvIIP/6mmCs5gEuIbxMV-dA0C6ocdBAO9K3qm1-B7SgkN_ChAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Récapitulatif des Dépassements</p>
            </div>
        </div>
    </a>

</div>

<h3 class="center">Apports :</h3>
<div class="rapportsList">
    <a  target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oeepJxKRu9rRqlHU8kbT0FK4iJwMVz7Z/TlxHTlbDmJS5y7QVMHEmJ_qFnUAa9hAC-JroAbETGhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Apports</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/oef0c3xBAAHnF1OmWvcZSAaiKyfnDVAa/zwSNVMj2hfGa3rFZA0frHZhXOUlvJysi-M7qghkvGhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Apports DASRI</p>
            </div>
        </div>
    </a>
</div>

<h3 class="center">QSE, Energie & PCI :</h3>
<div class="rapportsList">
    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/ofOEdQFmafQ093VPQna8JtwrIyuG0PP1/d1b1vGeN6NTCMED6_x_qoUX82U5w1nhj-q7ugCNbGhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">TB QSE</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/ofWvPhTQuY4MXTsDSekT5QvtzW9gfVov/h4RxHPr0ke9J-5tClYl_f9V3I78xKP8M-ILmgGabihAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">TB Energie</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('https://drive.kerlan-info.fr/d/s/ofOHo0bkpH8xdgBMyHbd4RJEtRP7YXul/aU7ga4zUkV0YRm0iiE5ISobYn3UnYl25-FrwAdPnGhAk')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">PCI Annuel</p>
            </div>
        </div>
    </a>
</div>



