<button routerLink="" class="btn btn-outline-primary btn-lg btnRetour"><i class="fa fa-home"></i> Accueil</button>

<div class="rapportsList">
    <a  target="_self" (click)="download('http://192.168.172.15/rapports/FacturationOMDIB.xlsm')">
    <div class="card">
        <img src="assets/excel.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Facturation OM/DIB</p>
        </div>
    </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/FacturationDASRI.xlsm')">
    <div class="card">
        <img src="assets/excel.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Facturation DASRI</p>
        </div>
    </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/FacturationMachefer.xlsm')">
    <div class="card">
        <img src="assets/excel.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Facturation Machefers</p>
        </div>
    </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/Synthese_Details_.xlsx')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Synthèse Détails</p>
            </div>
        </div>
    </a>
</div>

<div class="rapportsList">

    <a target="_self" (click)="download('http://192.168.172.15/rapports/TB_.xlsx')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Tableau de Bord</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/Entre%CC%81esSorties.xlsm')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Entrées/Sorties Mois et Année</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/Entre%CC%81esSorties_DASRI.xlsm')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Entrées/Sorties DASRI</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/Controle_des_Couts.xlsx')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Contrôle des coûts GER/EXP</p>
            </div>
        </div>
    </a>
</div>

<div class="rapportsList">

    <a target="_self" (click)="download('http://192.168.172.15/rapports/QSE.xlsx')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">TB QSE</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/Revue énergétique.xlsx')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">TB Energie</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/Recap_arrets.xlsx')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Récapitulatif des Arrêts</p>
            </div>
        </div>
    </a>

    <a target="_self" (click)="download('http://192.168.172.15/rapports/Recap_depassements.xlsx')">
        <div class="card">
            <img src="assets/excel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Récapitulatif des Dépassements</p>
            </div>
        </div>
    </a>
</div>



