<div *ngIf="listZone">

    <div class="table-style">
        <!--table des zones de controle-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Nom</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Four 1</th>
                <th scope="col">Four 2</th>
                <th scope="col">Edition</th>
                <th scope="col">Edition</th>
            </tr>
            </thead>
            <tbody *ngFor="let z of listZone">
            <tr class="table-light">
                <td>{{z.nom}}</td>
                <td>{{z.commentaire}}</td>
                <td style="text-align: center" *ngIf="z.four1 === 1"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="z.four1 === 0"><i style="color: red" class="fa fa-times" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="z.four2 === 1"><i style="color: green" class="fa fa-check" aria-hidden="true"></i></td>
                <td style="text-align: center" *ngIf="z.four2 === 0"><i style="color: red" class="fa fa-times" aria-hidden="true"></i></td>
                <td><button id="setComment" (click)="setComment(z)" class="btn btn-outline-primary">
                    <i class="fa fa-pencil"></i>Commentaire
                </button></td>
                <td><button id="setName" (click)="setName(z)" class="btn btn-outline-primary">
                    <i class="fa fa-pencil"></i>Nom
                </button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
