<div class="headerAcceuil">
    <div *ngIf="maintenance == null" class="blocLogoInovex">
        <!--<img class="logoInovex" src="assets/inovex.png">-->
    </div>

    <div *ngIf="maintenance != null" style="background-color: lightcoral;">
        <p><strong>INFORMATION</strong> : Une maintenance est prévu de : <strong>{{maintenance.dateHeureDebut}}</strong> jusqu'à : <strong>{{maintenance.dateHeureFin}}</strong>.</p>
        <p>Merci de terminer vos saisies avant la date de début de la maintenance - <strong>l'Equipe KERLAN INFORMATIQUE</strong>.</p>
    </div>

    <div *ngIf="userLogged.hasOwnProperty('localisation')" class="gestionUsine">
        <a class="nav-link" (click)="choixSite()" role="button">
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{localisation}}
        </a>
    </div>

    <div class="gestionUser">
        <i class="fas fa-user"></i>
        <a class="nav-link dropdown-toggle" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{prenom}} {{nom | uppercase}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item clickable" (click)="navigate('/gestionUser')">Gestion du Compte</a>
            <a class="dropdown-item clickable" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Déconnexion</a>
        </div>
    </div>
</div>




<div class="blocCards">

        <div class="card text-white bg-primary cardAccueil cardSaisie">
            <div class="card-body text-center">
                <h2 class="card-title">Saisie</h2>
                <p class="card-text card-textAccueil">Saisir les différentes données</p>
                <a> <button [disabled]="!isSaisie" (click)="navigate('/saisie')" type="button" class="btn btn-light btnAccueil">Accéder</button></a>
            </div>
        </div>

        <div class="card text-white bg-primary cardAccueil cardQSE">
            <div class="card-body text-center">
                <h2 class="card-title">Budget</h2>
                <p class="card-text card-textAccueil">Saisir les différents objectifs/budgets</p>
                <a> <button [disabled]="!isQSE" (click)="navigate('/qse')" type="button" class="btn btn-light btnAccueil">Accéder</button></a>
            </div>
        </div>


        <div class="card text-white bg-primary cardAccueil cardRapports">
            <div class="card-body text-center">
                <h2 class="card-title">Rapports</h2>
                <p class="card-text card-textAccueil">Consultation des rapports d'activité</p>
                <a> <button [disabled]="!isRapport" (click)="navigate('/rapports')" type="button" class="btn btn-light btnAccueil">Accéder</button></a>
            </div>
        </div>

        <div class="card text-white bg-primary cardAccueil cardAdmin">
            <div class="card-body text-center">
                <h2 class="card-title">Administration</h2>
                <p class="card-text card-textAccueil">Création et modification des différents éléments</p>
                <a> <button [disabled]="!isAdmin" (click)="navigate('/admin')" type="button" class="btn btn-light btnAccueil">Accéder</button></a>
            </div>
        </div>

        <div class="card text-white bg-primary cardAccueil cardRondier">
            <div class="card-body text-center">
                <h2 class="card-title">Rondier</h2>
                <p class="card-text card-textAccueil">Accès aux Récapitulatif des rondes</p>
                <a> <button [disabled]="!isRondier" (click)="navigate('/reporting')" type="button" class="btn btn-light btnAccueil">Accéder</button></a>
            </div>
        </div>

</div>