<div class="blocCards">

    <a routerLink="saisie" target="_blank">
        <div class="card text-white bg-primary" style="width: 20rem; height: 20rem">
            <div class="card-body text-center">
                <h2 class="card-title">Saisie</h2>
                <p class="card-text">Saisir les différentes données</p>
            </div>
        </div>
    </a>

    <a routerLink="qse" target="_blank">
        <div class="card text-white bg-primary" style="width: 20rem; height: 20rem">
            <div class="card-body text-center">
                <h2 class="card-title">QSE</h2>
                <p class="card-text">Saisir les différents objectifs pour le tableau de bord QSE</p>
            </div>
        </div>
    </a>

    <a routerLink="rapports" target="_blank">
        <div class="card text-white bg-primary" style="width: 20rem; height: 20rem">
            <div class="card-body text-center">
                <h2 class="card-title">Rapports</h2>
                <p class="card-text">Consultation des rapports d'activité</p>
            </div>
        </div>
    </a>

    <a routerLink="admin" target="_blank">
        <div class="card text-white bg-primary" style="width: 20rem; height: 20rem">
            <div class="card-body text-center">
                <h2 class="card-title">Administration</h2>
                <p class="card-text">Création et modification des différents éléments</p>
            </div>
        </div>
    </a>

</div>