<div id="page">

    <!--Filtres de recherche-->
    <div class="form-group">
        <h5><label>Filtres :</label></h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <select id="type" required class="form-select form-select-sm" aria-label=".form-select-sm example" name="type" ngModel>
                        <option *ngFor="let arret of listArrets" selected value="{{arret.Id}}">{{arret.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button class="btn btn-success" (click)="setFilters()">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <!--formulaire de saisie avec calcul de la durée et commentaire-->
    <div class="row" *ngIf="arretId && !isTotal">
        <!--Période-->
        <form #f="ngForm">
            <div class="form-group">
                <h5><label>Période :</label></h5>
                <div class="row">
                    <div class="col-lg-3">
                        <input required type="datetime-local" step="1" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb"
                               ngModel>
                    </div>
                    <div class="col-lg-3">
                        <input required type="datetime-local" step="1" id="dateFin" class="form-control" placeholder="Date de fin" name="dateFin"
                               ngModel>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" (click)="setDuree(f)">Calculer la durée</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-sm-5 col-sm-offset-1">

            <h3>Saisie {{arretName}}</h3>

            <form (ngSubmit)="onSubmit(fnotTot)" #fnotTot="ngForm">

                <div style="display: inline-flex" class="form-group">
                    <label style="margin-right: 1em">Durée (en heures) :  </label>
                    <p style="margin-right: 1em">{{duree}}</p>
                    <div id="warning" *ngIf="duree == 0">
                        <p> ATTENTION : Veuillez d'abord calculer la durée !</p>
                    </div>
                </div>


                <div class="form-group">
                    <label for="desc">Commentaire (pas de caractères spéciaux ni majuscules SVP) : * </label>
                    <textarea class="form-control" required id="desc"  placeholder="Description ..." name="desc" ngModel></textarea>
                </div>

                <p style="font-size: smaller; color: grey">* : Obligatoire</p>

                <div class="form-group">
                    <button [disabled]="duree < 0.001" class="btn btn-success btn-lg" type="submit">Valider</button>
                    <button class="btn btn-danger btn-lg" routerLink="/">Annuler</button>
                </div>

            </form>
        </div>
    </div>

    <!--formulaire de saisie avec input pour durée ===> Utilisé si daisie du total pour dépassement 1/2H-->
    <div class="row" *ngIf="arretId && isTotal">
        <div class="col-sm-5 col-sm-offset-1">
            <h3>Saisie {{arretName}}</h3>
            <form (ngSubmit)="onSubmit(fTot)" #fTot="ngForm">

                <div style="display: inline-flex; width: 90%" class="form-group">
                    <label style="margin-right: 1em;width: 40%">Date : *</label>
                    <input type="date" id="dateSaisie" class="form-control" placeholder="Date" name="dateSaisie" required ngModel>
                </div>

                <div style="display: inline-flex; width: 90%" class="form-group">
                    <label style="margin-right: 1em;width: 40%">Durée (en heures) : *</label>
                    <input (keyup)="updateDuree(fTot)" type="text" id="value" class="form-control" placeholder="Valeur" name="duree" required ngModel>
                </div>

                <p style="font-size: smaller; color: grey">* : Obligatoire</p>

                <div class="form-group">
                    <button [disabled]="duree < 0.001" class="btn btn-success btn-lg" type="submit">Valider</button>
                    <button class="btn btn-danger btn-lg" routerLink="/">Annuler</button>
                </div>

            </form>
        </div>
    </div>


</div>