<div>

    <!--Filtres de recherche-->
    <div class="form-group">
        <h5><label>Filtres :</label></h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <select id="type" required class="form-select form-select-sm"
                            aria-label=".form-select-sm example" name="type" ngModel="4">
                        <option value="2">Consommables et Autres</option>
                        <option selected value="4">Compteurs</option>
                        <option value="5">Sortants</option>
                        <option value="6">Analyses</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" id="name" class="form-control" placeholder="Nom du produit" name="name" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                        <button class="btn btn-success" (click)="setFilters()">Valider</button>
                    </div>
                </div>
            </div>
        </div>

        <button id="changeAllType" class="btn btn-primary btn-lg float-right" (click)="changeAllType()">Changer plusieurs Type</button>

    </div>

    <!--table des produits-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Unité</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
            <th scope="col">Visibilité</th>
        </tr>
        </thead>
        <tbody *ngFor="let pr of listProducts">
        <tr class="table-light">
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="{{pr.Id}}" (click)="addPr(pr.Id)">
                </div>
            </td>
            <td>{{pr.Name}}</td>
            <td>{{pr.Unit}}</td>
            <td><button id="setPrice" (click)="setUnit(pr)" class="btn btn-primary">
                Changer unité
            </button></td>
            <td><button id="setType" (click)="setType(pr)" class="btn btn-primary">
                Changer le type
            </button></td>
            <td *ngIf="pr.Enabled == 0"><button id="setDisabled" (click)="setVisibility(pr.Id,1)" class="btn btn-outline-danger">
                <i style="color: red" class="fa fa-eye-slash"></i>
            </button></td>
            <td *ngIf="pr.Enabled == 1"><button id="setEnabled" (click)="setVisibility(pr.Id,0)" class="btn btn-outline-success">
                <i style="color: green" class="fa fa-eye"></i>
            </button></td>
        </tr>
        </tbody>
    </table>

</div>