<div id="page">
    <div id="arrets">
        <!--Période-->
        <div id="arretsFiltres">
            <form #f="ngForm">
                <div class="form-group">
                    <h5><label>Période :</label></h5>
                    <div class="row">
                        <div class="col-lg-2">
                            <input type="date" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb"
                                   ngModel>
                        </div>
                        <div class="col-lg-2">
                            <input type="date" id="dateFin" class="form-control" placeholder="Date de fin" name="dateFin"
                                   ngModel>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" (click)="setPeriod(f)"><img src="assets/refresh.png"></button>
                                <button style="margin-left: 0.5em" class="btn btn-dark" (click)="setCurrentMonth(f)">Mois en cours</button>
                                <button style="margin-left: 0.5em" class="btn btn-dark" (click)="setLastMonth(f)">Mois précédent</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--table des totaux-->
        <div class="table-style totaux" *ngIf="sumArretsDepassements.length > 0">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th scope="col">Arrêt</th>
                    <th scope="col">Durée Totale</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let arret of sumArretsDepassements">
                    <td class="fix"><strong>{{arret.Name}}</strong></td>
                    <td class="fix">{{arret.Duree}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

        <!--table de l'historique-->
        <div class="table-style historique" *ngIf="listArretsDepassements.length > 0">
            <table class="table table-hover tableFixed">
                <thead>
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">Arrêt</th>
                    <th scope="col">Date Début</th>
                    <th scope="col">Heure Début</th>
                    <th scope="col">Date Fin</th>
                    <th scope="col">Heure Fin</th>
                    <th scope="col">Durée (heures)</th>
                    <th scope="col">Commentaire</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-light" *ngFor="let arret of listArretsDepassements">
                    <td class="fix">
                        <a routerLink="/saisie/arrets" [queryParams]="{isArret: isArret, id :arret.Id }" > 
                            <button class="btn btn-light">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </a>
                    </td>
                    <td class="fix"><button class="btn btn-light" (click)="delete(arret.Id)"><i style="color: red" class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    <td class="fix"><strong>{{arret.Name}}</strong></td>
                    <td class="fix">{{arret.dateDebut}}</td>
                    <td class="fix">{{arret.heureDebut}}</td>
                    <td class="fix">{{arret.dateFin}}</td>
                    <td class="fix">{{arret.heureFin}}</td>
                    <td class="fix">{{arret.duree}}</td>
                    <td class="fix">{{arret.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>


</div>