<div>

    <!--Filtres de recherche-->
    <div class="form-group">
        <h5><label>Filtres :</label></h5>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <select id="categorie" required class="form-select form-select-sm" aria-label=".form-select-sm example" name="categorie" ngModel>
                        <option *ngFor="let cat of listCategories" selected value="{{cat.Code}}">{{cat.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button class="btn btn-success" (click)="setFilters()">Valider</button>
                </div>
            </div>
        </div>

        <!--Période-->
        <form #f="ngForm">
            <div class="form-group">
                <h5><label>Mois :</label></h5>
                <div class="row">
                    <div class="col-lg-3">
                        <input type="month" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb"
                               ngModel>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" (click)="setPeriod(f)"><img src="assets/refresh.png"></button>
                            <button style="margin-left: 0.5em" class="btn btn-dark" (click)="setLastMonth(f)">Mois précédent</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--table de saisie-->
    <div class="table-style">
        <table class="table table-hover tableFixed" *ngIf="listAnalyses">
            <thead>
            <tr class="table-secondary">
                <th scope="col"><button class="btn btn-success"(click)="validation()">Valider les valeurs</button></th>
                <th scope="col">{{listDays}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light" *ngFor="let an of listAnalyses">
                <td class="fix"><strong>{{an.Name}}</strong></td>
                <td *ngIf="listDays"><input type="text" id="{{an.Id}}-{{listDays}}"
                                            class="form-control" aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>