<h1 class="creation">Création d'une consigne :</h1>

<div class="row">
    <div class="col-sm-5 col-sm-offset-1">

        <form ngNativeValidate  (ngSubmit)="onSubmit(f)" #f="ngForm">

            <div class="form-group">
                <label for="desc">Description : * </label>
                <input required type="text" id="desc" class="form-control" placeholder="Description" name="desc" ngModel>
            </div>

            <div class="form-group">
                <label>Type : *</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select required class="form-select" aria-label=".form-select-sm example" name="type" ngModel=1>
                                <option value=1>Consigne du "Jour"</option>
                                <option value=2>Consigne de Sécurité</option>
                                <option value=3>Consigne Process</option>
                                <option value=4>Autre Consigne</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Début date validité : *</label>
                <input required type="datetime-local" id="dateDebut" class="form-control" placeholder="Date de début de validité" name="dateDebut"
                       ngModel>
            </div>
            
            <div class="form-group">
                <label>Fin date validité : *</label>
                <input required type="datetime-local" id="dateFin" class="form-control" placeholder="Date de validité" name="dateFin"
                       ngModel>
            </div>

            <p style="font-size: smaller; color: grey">* : Obligatoire</p>

            <div class="form-group">
                <button class="btn btn-success btn-lg" type="submit">Valider</button>
                <button class="btn btn-danger btn-lg" onclick="window.location.replace('/admin')">Annuler</button>
            </div>

        </form>
    </div>
</div>