.color--0 {
  background-color: lightgreen;
}

.color--1 {
  background-color: lightsalmon;
}

.color--2 {
  background-color: lightcoral;
}

#create {
  position: relative;
  left: 45%;
  margin-bottom: 10px;
}
