<div>
    <h1 class="creation">Validation des Compteurs avant envoi vers CAP EXPLOITATION :</h1>
    <h1 class="creation"><strong>ATTENTION</strong> : Les compteurs doivent avoir le même nom que la partie Saisie de CAP EXPLOITATION !</h1>
    <!--Filtres de recherche-->
    <div class="form-group blockFiltres">
        <!--Période-->
        <form #f="ngForm">
            <div class="form-group">
                <h5><label>Mois :</label></h5>
                <div class="row">
                    <div class="col-lg-3">
                        <input type="month" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb"
                               ngModel>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" (click)="setPeriod(f)"><img src="assets/refresh.png"></button>
                            <button style="margin-left: 0.5em" class="btn btn-dark" (click)="setLastMonth(f)">Mois précédent</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--table de saisie-->
    <div class="table-style">
        <table class="table table-hover tableFixed" *ngIf="listCompteursRondier">
            <thead>
            <tr class="table-secondary">
                <th scope="col"><button class="btn btn-success"(click)="validation()">Valider les valeurs</button></th>
                <th scope="col"*ngFor="let day of listDays">{{day}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light" *ngFor="let cp of listCompteursRondier">
                <td class="fix"><strong>{{cp.nom}}</strong></td>
                <td *ngFor="let day of listDays">
                    <div class="flex">
                        <input type="text" id="{{cp.Id}}-{{day}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        <button class="btn btn-light" id="delete-{{cp.Id}}-{{day}}" (click)="delete(cp.Id,day)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>