<a role="button" (click)="ouvrirDialogCreerGroupement()" class="btn btn-primary" id="create">
    Créer un groupement
</a>

<div *ngIf="listGroupement">

    <h1  class="creation">Voici la liste des groupements </h1>
    <div class="table-style">
        <!--table des zones de controle-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Nom</th>
                <th scope="col">Edition</th>
                <!-- <th scope="col">Suppression</th> -->
            </tr>
            </thead>
            <tbody *ngFor="let g of listGroupement; let i = index">
                <tr *ngIf="g.id !=0 && getPreviousItem(i) != g.zoneId" class="table-secondary">
                    <th *ngIf="g.groupement == null" colspan="12">Aucun Groupement</th>
                    <th *ngIf="g.groupement != null" scope="col" colspan="12">{{g.nom}}</th>
                </tr>
                <tr class="table-light">
                    <td>{{g.groupement}}</td>
                    <td>
                        <button id="setName"  class="btn btn-outline-primary" (click)="ouvrirDialogUpdateGroupement(g.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                    <!-- <td>
                        <button class="btn btn btn-danger suppression" (click)="deleteGroupement(g.id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template let-data #myCreateGroupementDialog>
    <h1 class="creation" style="text-align: center;">Création d'un groupement :</h1>

    <mat-dialog-content>
        <div class="row">
            <div>

                    <div class="form-group">
                        <label for="choixZone">Selectionnez la {{denomination}} du groupement *</label><br>
                        <select name="zone" id="choixZone" ngModel [(ngModel)]="idZone" class="form-control">
                            <option value="0">-- Veuillez selectionner une {{denomination}} --</option>
                            <option *ngFor ="let zone of listZone" value="{{zone.Id}}">{{zone.nom}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="groupement">Nom : *</label>
                        <input required type="text" id="groupement" class="form-control" placeholder="Nom du groupement" ngModel [(ngModel)]="groupement">
                    </div>

                    <p style="font-size: smaller; color: grey">* : Obligatoire</p>

                    <div class="form-group">
                        <button class="btn btn-success btn-lg" (click)="createGroupement()">Valider</button>
                        <button [mat-dialog-close]="true" class="btn btn-danger btn-lg">Annuler</button>
                    </div>

            </div>
        </div>
    </mat-dialog-content>
</ng-template>