<div class="row">
    <div class="col-sm-5 col-sm-offset-1">

      <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="form-group">
          <label for="nom">Nom : * </label>
          <input required type="text" id="nom" class="form-control" placeholder="Nom" name="nom" ngModel>
        </div>

        <div class="form-group">
          <label for="adress">Adresse : </label>
          <input type="text" id="adress" class="form-control" placeholder="Adresse" name="adress" ngModel>
        </div>

        <div class="form-group">
            <label>Code : *</label>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <select required class="form-select form-select-sm" aria-label=".form-select-sm example" name="produit" ngModel="201">
                    <option selected value="201">OM</option>
                    <option value="202">DIB/DEA</option>
                    <option value="203">DASRI</option>
                    <option value="204">DAOM</option>
                    <option value="205">Refus de tri</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <select required class="form-select form-select-sm" aria-label=".form-select-sm example" name="collecteur" ngModel="01">
                    <option selected value="01">INOVA</option>
                    <option value="02">VEOLIA</option>
                    <option value="03">PAPREC</option>
                    <option value="04">NICOLLIN</option>
                    <option value="05">BGV</option>
                    <option value="06">SITOMAP</option>
                    <option value="07">SIRTOMRA OM</option>
                    <option value="08">COMMUNES</option>
                    <option value="09">SMICTOM</option>
                    <option value="10">SMETOM</option>
                  </select>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="unitPrice">Prix unitaire : *</label>
            <input required type="text" id="unitPrice" class="form-control" placeholder="Prix Unitaire" name="unitPrice" ngModel>
        </div>

        <p style="font-size: smaller; color: grey">* : Obligatoire</p>

        <div class="form-group">
          <button class="btn btn-primary btn-lg" type="submit">Valider</button>
          <button class="btn btn-primary btn-lg" routerLink="/">Annuler</button>
        </div>

      </form>
    </div>
  </div>
