<h1 class="creation">Création d'un Client :</h1>

<div class="row">
    <div class="col-sm-5 col-sm-offset-1">

      <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="form-group">
          <label for="nom">Nom : * </label>
          <input required type="text" id="nom" class="form-control" placeholder="Nom" name="nom" ngModel>
        </div>

        <div class="form-group">
          <label for="adress">Adresse : </label>
          <input type="text" id="adress" class="form-control" placeholder="Adresse" name="adress" ngModel>
        </div>

        <div class="form-group">
            <label>Code : *</label>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <select required class="form-select form-select-sm" aria-label=".form-select-sm example" name="produit" ngModel="201">
                    <option *ngFor="let type of listTypeDechets" value="{{type.split('-')[0]}}">{{type.split("-")[1]}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <select required class="form-select form-select-sm" aria-label=".form-select-sm example" name="collecteur" ngModel="01">
                    <option *ngFor="let collecteur of listCollecteurs" value="{{collecteur.split('-')[0]}}">{{collecteur.split("-")[1]}}</option>
                  </select>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="unitPrice">Prix unitaire : *</label>
            <input required type="text" id="unitPrice" class="form-control" placeholder="Prix Unitaire" name="unitPrice" ngModel>
        </div>

        <p style="font-size: smaller; color: grey">* : Obligatoire</p>

        <div class="form-group">
          <button class="btn btn-success btn-lg" type="submit">Valider</button>
          <button class="btn btn-danger btn-lg" onclick="window.location.replace('/admin')">Annuler</button>
        </div>

      </form>
    </div>
  </div>
