<div id="spinner">
    <div><h1>Chargement en cours...</h1></div>
    <div id="spinnerBloc">
    </div>
</div>

<div>

    <!--Filtres de recherche-->
    <div class="form-group blockFiltres">
        <!--SI import renseigné en BDD et pas de type récupération HODJA-->
        <div *ngIf="typeImportTonnage.length > 1" class="col-sm-3" style="border: solid grey 1px; padding-bottom: 1em;">
            <label style="margin-left: 1em;" for="formFile" class="form-label">Importer un fichier des réactifs {{typeImportTonnage}}</label>
             <input class="form-control" type="file" id="formFile" accept=".csv" (change)="import($event)">
         </div>

        <!--Période-->
        <form #f="ngForm">
            <div class="form-group">
                <h5><label>Période :</label></h5>
                <div class="row">
                    <div class="col-lg-3">
                        <input type="date" id="dateDeb" class="form-control" placeholder="Date de début" name="dateDeb"
                               ngModel>
                    </div>
                    <div class="col-lg-3">
                        <input type="date" id="dateFin" class="form-control" placeholder="Date de fin" name="dateFin"
                               ngModel>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" (click)="setPeriod(f)"><img src="assets/refresh.png"></button>
                            <button style="margin-left: 0.5em" class="btn btn-warning" (click)="setYesterday(f)">Hier</button>
                            <button style="margin-left: 0.5em" class="btn btn-info" (click)="setCurrentWeek(f)">Semaine en cours</button>
                            <button style="margin-left: 0.5em" class="btn btn-dark" (click)="setCurrentMonth(f)">Mois en cours</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    
    <!--table de saisie-->
    <div class="table-style">
        <table class="table table-bordered table-hover tableFixed" *ngIf="listDays && listProducts">
            <thead>
            <tr class="table-secondary">
                <th scope="col"><button class="btn btn-success"(click)="validation()">Valider les tonnages</button></th>
                <th scope="col">Unité</th>
                <th *ngFor="let day of listDays" scope="col">{{day}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light" *ngFor="let pr of listProducts">
                <td class="fix"><strong>{{pr.Name}}</strong></td>
                <td>{{pr.Unit}}</td>
                <td *ngFor="let day of listDays">
                    <div class="flex">
                        <input type="text" id="{{pr.Id}}-{{day}}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        <button class="btn btn-light" id="delete-{{pr.Id}}-{{day}}" (click)="delete(pr.Id,day)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>