.blockFiltres{
  position: fixed;
  top: 5.5em;
  right: 0;
  left: 0.5em;
  margin: 0 auto;
  margin-bottom: 50px;
  z-index: -2;
}

.table-style{
  margin-top: 19em;
}

@media (width < 1257px) {
  .table-style{
    margin-top: 21.5em;
  }
}
@media (width < 1233px) {
  .blockFiltres{
    top: 7em;
  }
  
  .table-style{
    margin-top: 23.5em;
  }
}

@media (width < 992px) {
  .blockFiltres{
    top: 4.5em;
  }
  
  .table-style{
    margin-top: 25em;
  }
}
@media (width < 862px) {
  .table-style{
    margin-top: 27em;
  }
}

