<div class="row">
  <div class="col-sm-offset-1">

    <div *ngIf="moralEntities">

      <!--table des client-->
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Code</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col">#</th>
          <th scope="col">#</th>
        </tr>
        </thead>
        <tbody *ngFor="let mr of moralEntities">
        <tr class="table-light">
          <td>{{mr.Name }}</td>
          <td>{{mr.Address }}</td>
          <td>{{mr.Code}}</td>
          <td>{{mr.UnitPrice}}</td>
          <td><button id="setCode" (click)="setCode(mr.Id)" class="btn btn-primary">
            Changer le Code
          </button></td>
          <td><button id="setPrice" (click)="setPrice(mr.Id)" class="btn btn-primary">
            Changer le Prix
          </button></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
