 <div *ngIf="moralEntities">

     <div class="form-group">

       <h5><label>Filtres :</label></h5>
       <div class="row">
         <div class="col-sm-3">
           <div class="form-group">
             <select id="produit" required class="form-select form-select-sm" aria-label=".form-select-sm example" name="produit" ngModel="201">
               <option selected value="201">OM</option>
               <option value="202">DIB/DEA</option>
               <option value="203">DASRI</option>
               <option value="204">DAOM</option>
               <option value="205">Refus de tri</option>
             </select>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="form-group">
             <select id="collecteur" required class="form-select form-select-sm" aria-label=".form-select-sm example" name="collecteur" ngModel="01">
               <option selected value="01">INOVA</option>
               <option value="02">VEOLIA</option>
               <option value="03">PAPREC</option>
               <option value="04">NICOLLIN</option>
               <option value="05">BGV</option>
               <option value="06">SITOMAP</option>
               <option value="07">SIRTOMRA OM</option>
               <option value="08">COMMUNES</option>
               <option value="09">SMICTOM</option>
               <option value="10">SMETOM</option>
             </select>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="form-group">
             <button class="btn btn-success" (click)="setFilters()">Valider</button>
           </div>
         </div>
       </div>

       <button id="changeAllPrice" class="btn btn-primary btn-lg float-right" (click)="changeAllPrice()">Changer plusieurs Prix</button>

     </div>

      <!--table des client-->
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Type Déchets</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col">#</th>
          <th scope="col">#</th>
          <th scope="col">Visibilité</th>
        </tr>
        </thead>
        <tbody *ngFor="let mr of moralEntities">
        <tr class="table-light">
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="{{mr.Id}}" (click)="addMr(mr.Id)">
            </div>
          </td>
          <td>{{mr.Name}}</td>
          <td>{{mr.Address}}</td>
          <td>{{mr.produit}} - {{mr.collecteur}}</td>
          <td>{{mr.UnitPrice}}</td>
          <td><button id="setName" (click)="setName(mr)" class="btn btn-primary">
            Changer le Nom
          </button></td>
          <td><button id="setPrice" (click)="setPrice(mr)" class="btn btn-primary">
            Changer le Prix
          </button></td>
          <td *ngIf="mr.Enabled == 1"><button id="setDisabled" (click)="setVisibility(mr.Id,0)" class="btn btn-outline-danger">
            <i style="color: red" class="fa fa-eye-slash"></i>
          </button></td>
          <td *ngIf="mr.Enabled == 0"><button id="setEnabled" (click)="setVisibility(mr.Id,1)" class="btn btn-outline-success">
            <i style="color: green" class="fa fa-eye"></i>
          </button></td>
        </tr>
        </tbody>
      </table>
 </div>
