<h2 *ngIf="listLien.length != 0" style="text-align: center;">Liens externes :</h2>
<div class="container">
    <ng-container *ngFor="let lien of listLien">
        <a href="{{lien.url}}" target="_blank">  
            <div  class="card2" >
                <div class="card-body">
                    <h5 class="card-title"><span class="badge bg-primary">{{lien.nom}}</span></h5>   
                </div>
            </div>
        </a>
    </ng-container>
</div>
<div class="row">

    <button type="button" (click)="finQuart()" class="btn btn-warning" id="finQuart">FIN DE QUART</button>
        

    <div class="col-md-13">
        <h2 style="text-align: center;">Actualités</h2>
        <!--table des consignes-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Actualité</th>
                <th scope="col">Description</th>
                <th scope="col">Date de Début de validité</th>
                <th scope="col">Date de Fin de validité</th>
            </tr>
            </thead>
            <tbody *ngFor="let actu of listActu">
            <tr class="table-light" >
                <td>{{actu.titre}}</td>
                <td>{{actu.description}}</td>
                <td>{{actu.date_heure_debut}}</td>
                <td>{{actu.date_heure_fin}}</td> 
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-13">
        <h2 style="text-align: center;">Maintenances</h2>
        <!--table des consignes-->
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Maintenance</th>
                <th scope="col">Date de Début de validité</th>
                <!-- <th scope="col">Date de Fin de validité</th> -->
            </tr>
            </thead>
            <tbody *ngFor="let maintenance of listMaintenance">
            <tr class="table-light" >
                <td>{{maintenance.description}}</td>
                <td>{{maintenance.rowversion}}</td>
                <!-- <td>{{actu.date_heure_fin}}</td>  -->
            </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="col-md-6">
        <h2 style="text-align: center;">Info Sécu</h2>
        table des consignes
        <table class="table table-hover tableFixed">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Actualité</th>
                <th scope="col">Date de Début de validité</th>
                <th scope="col">Date de Fin de validité</th>
            </tr>
            </thead>
            <tbody *ngFor="let actu of listActu">
            <tr class="table-light" >
                <td>{{actu.titre}}</td>
                <td>{{actu.date_heure_debut}}</td>
                <td>{{actu.date_heure_fin}}</td> 
            </tr>
            </tbody>
        </table>
    </div> -->
</div>

<div class="container">
    <!-- <a  routerLink="/cahierQuart/recapRondePrecedente" [queryParams]="{quart: 1}" >   -->
    <a  routerLink="/cahierQuart/recapRonde" [queryParams]="{quart: 1}" >  
        <div  class="card" >
            <div class="card-body">
                <h5 class="card-title">Quart du matin</h5>   
            </div>
        </div>
    </a>
    <!-- <a  routerLink="/cahierQuart/recapRondePrecedente" [queryParams]="{quart: 2}" >   -->
    <a  routerLink="/cahierQuart/recapRonde" [queryParams]="{quart: 2}" >  
        <div  class="card" >
            <div class="card-body">
                <h5 class="card-title">Quart de l'après-midi</h5>   
            </div>
        </div>
    </a>
    <!-- <a  routerLink="/cahierQuart/recapRondePrecedente" [queryParams]="{quart: 3}" >   -->
    <a  routerLink="/cahierQuart/recapRonde" [queryParams]="{quart: 3}" >  
        <div  class="card" >
            <div class="card-body">
                <h5 class="card-title">Quart de nuit</h5>   
            </div>
        </div>
    </a>
</div>