#imgUpload {
  max-width: 40%;
  position: relative;
  right: 0;
}

#fichier {
  width: 50%;
  margin-right: 10px;
}

#photo {
  position: relative;
  display: flex;
  vertical-align: middle;
  align-items: center;
}
